<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>ElevatorSharp - based on the excellent Elevator Saga code base by Magnus Wolffelt</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/fonts/font-awesome-4.1-1.0/css/font-awesome.min.css" type="text/css" media="all">
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/libs/codemirror/codemirror.css">
    <link rel="stylesheet" href="/libs/codemirror/themes/solarized.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">

    <script type="text/javascript" src="/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/libs/lodash.min.js"></script>
    <script type="text/javascript" src="/libs/riot.js"></script>

    <script type="text/javascript" src="/libs/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/libs/codemirror/addon/edit/closebrackets.js"></script>
    <script type="text/javascript" src="/libs/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="/libs/codemirror/mode/clike/clike.js"></script>
    <script type="text/javascript" src="/libs/codemirror/mode/meta.js"></script>
    <script type="text/javascript" src="/libs/unobservable.js"></script>

    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/movable.js"></script>
    <script type="text/javascript" src="/js/floor.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
    <script type="text/javascript" src="/js/elevator.js"></script>
    <script type="text/javascript" src="/js/interfaces.js"></script>
    <script type="text/javascript" src="/js/world.js"></script>
    <script type="text/javascript" src="/js/presenters.js"></script>
    <script type="text/javascript" src="/js/challenges.js"></script>
    <script type="text/javascript" src="/js/fitness.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/template" id="user-template">
        <i class="movable fa user fa-{u.displayType} {state}"></i>
    </script>

    <script type="text/template" id="floor-template">
        <div class="floor" style="top: {yPosition}px">
            <span class="floornumber">{level}</span>
            <span class="buttonindicator">
                <i class="fa fa-arrow-circle-up up"></i>
                <i class="fa fa-arrow-circle-down down"></i>
            </span>
        </div>
    </script>

    <script type="text/template" id="elevator-template">
        <div class="elevator movable" style="width: {e.width}px">
            <span class="directionindicator directionindicatorup"><i class="fa fa-arrow-circle-up up activated"></i></span>
            <span class="floorindicator"><span></span></span>
            <span class="directionindicator directionindicatordown"><i class="fa fa-arrow-circle-down down activated"></i></span>
            <span class="buttonindicator"></span>
        </div>
    </script>

    <script type="text/template" id="elevatorbutton-template">
        <span class="buttonpress">{floorNum}</span>
    </script>

    <script type="text/template" id="feedback-template">
        <div class="feedback">
            <h2 class="emphasis-color">{title}</h2>
            <p class="emphasis-color">{message}</p>
            <a href="{url}" class="emphasis-color">Next challenge <i class="fa fa-caret-right blink" style="text-decoration: blink"></i></a>
        </div>
    </script>

    <script type="text/template" id="challenge-template">
        <div class="left">
            <h3>Challenge #{num}: {challenge.condition.description}</h3>
        </div>
        <button class="right startstop unselectable" style="width: 110px">{startButtonText}</button>
        <h3 class="right">
            <i class="fa fa-minus-square timescale_decrease unselectable"></i>
            <span class="emphasis-color" style="display: inline-block; width: 22px; text-align: center">{timeScale}</span>
            <i class="fa fa-plus-square timescale_increase unselectable"></i>
        </h3>
    </script>

    <script type="text/template" id="codestatus-template">
        <h5 class="error" style="display: {errorDisplay}"><i class="fa fa-warning error-color"></i> There is a problem with your code: {errorMessage}</h5>
    </script>

    <script type="text/plain" id="mvc-elevator-implementation">
        {
        init: function (elevators, floors) {

        var createElevatorDtos = function(e) {
        var dto = [];
        for (var ei = 0; ei < e.length; ei++) {
        dto[ei] = {
        ElevatorIndex: ei,
        DestinationQueue: e.destinationQueue,
        CurrentFloor: e.currentFloor,
        GoingUpIndicator: e.goingUpIndicator,
        GoingDownIndicator: e.goingDownIndicator,
        MaxPassengerCount: e[ei].maxPassengerCount,
        LoadFactor: e[ei].loadFactor,
        DestinationDirection: e.destinationDirection,
        PressedFloors: e.getPressedFloors
        }
        }
        return dto;
        };

        var createFloorDtos = function(f) {
        var dto = [];
        for (var j = 0; j < f.length; j++) {
        dto[j] = {
        FloorNumber: f[j].floorNum
        }
        }
        return dto;
        };

        var createSkyscraperDto = function() {
        var elevatorDtos = createElevatorDtos(elevators);
        var floorDtos = createFloorDtos(floors);
        var dto = {
        Elevators: elevatorDtos,
        Floors: floorDtos
        }
        return dto;
        };

        var hookUpAllEvents = function () {

        var executeElevatorCommands = function (elevatorCommands) {
        var goToFloors = elevatorCommands.GoToFloors;
        if (typeof goToFloors !== "undefined" && goToFloors != null) {
        for (var i = goToFloors.length-1; i >= 0; i--) {
        var goToFloor = goToFloors[i];
        var jumpQueueDebugMessage = "";
        if (goToFloor.JumpQueue) {
        jumpQueueDebugMessage = " and jump the queue.";
        }
        console.debug("Elevator " + goToFloor.ElevatorIndex + " go to floor " + goToFloor.FloorNumber);
        elevators[goToFloor.ElevatorIndex].goToFloor(goToFloor.FloorNumber, goToFloor.JumpQueue);
        }
        }
        };

        var elevatorIndex = -1;
        elevators.forEach(function (elevator) {

        elevatorIndex++;

        // Idle
        elevator.on("idle", function () {
        console.debug("Elevator " + elevatorIndex + " is idle.");
        var dto = createSkyscraperDto();
        dto.EventRaisedElevatorIndex = elevatorIndex;
        $.ajax({
        type: "POST",
        data: dto,
        url: "/elevator/idle",
        success: executeElevatorCommands
        });
        });

        // Floor Button Pressed
        elevator.on("floor_button_pressed", function (floorNum) {
        console.debug("Elevator " + elevatorIndex + " floor button " + floorNum + " pressed.");
        var dto = createSkyscraperDto();
        dto.EventRaisedElevatorIndex = elevatorIndex;
        dto.Elevators[elevatorIndex].FloorNumberPressed = floorNum;
        $.ajax({
        type: "POST",
        data: dto,
        url: "/elevator/floorButtonPressed",
        success: executeElevatorCommands
        });
        });

        // Passing Floor
        elevator.on("passing_floor", function (floorNum, direction) {
        console.debug("Elevator " + elevatorIndex + " passing floor " + floorNum + " going " + direction + ".");
        var dto = createSkyscraperDto();
        dto.EventRaisedElevatorIndex = elevatorIndex;
        dto.Elevators[elevatorIndex].FloorNumberPressed = floorNum;
        dto.Elevators[elevatorIndex].Direction = direction;
        $.ajax({
        type: "POST",
        data: dto,
        url: "/elevator/passingFloor",
        success: executeElevatorCommands
        });
        });

        // Stopped At Floor
        elevator.on("stopped_at_floor", function (floorNum) {
        console.debug("Elevator " + elevatorIndex + " stopped at floor " + floorNum);
        var dto = createSkyscraperDto();
        dto.EventRaisedElevatorIndex = elevatorIndex;
        dto.Elevators[elevatorIndex].StoppedAtFloorNumber = floorNum;
        $.ajax({
        type: "POST",
        data: dto,
        url: "/elevator/stoppedAtFloor",
        success: executeElevatorCommands
        });
        });
        });

        floors.forEach(function (floor) {

        floor.on("up_button_pressed", function () {
        console.debug("Up button pressed on floor " + floor.floorNum());
        var dto = createSkyscraperDto();
        dto.EventRaisedFloorNumber = floor.floorNum;
        $.ajax({
        type: "POST",
        data: dto,
        url: "/floor/upButtonPressed",
        success: executeElevatorCommands
        });
        });

        floor.on("down_button_pressed", function () {
        console.debug("Down button pressed on floor " + floor.floorNum());
        var dto = createSkyscraperDto();
        dto.EventRaisedFloorNumber = floor.floorNum;
        $.ajax({
        type: "POST",
        data: dto,
        url: "/floor/downButtonPressed",
        success: executeElevatorCommands
        });
        });
        });
        };

        // First thing to do is to create our Skyscraper in C# passing elevators and floors from here, because each challenge has new config
        var skyscraperDto = createSkyscraperDto();

        $.ajax({
        type: "POST",
        data: skyscraperDto,
        url: "/skyscraper/new",
        success: hookUpAllEvents
        });
        },
        update: function (dt, elevators, floors) {
        // We normally don't need to do anything here
        }
        }
    </script>
</head>
<body>
    @RenderBody()

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
