<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@Model.Title</title>
    <!-- Bootstrap -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <link href="/css/application.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/js/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/libs/lodash.min.js"></script>
    <script type="text/javascript" src="/js/libs/riot.js"></script>

    <script type="text/javascript" src="/js/libs/unobservable.js"></script>

    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/movable.js"></script>
    <script type="text/javascript" src="/js/floor.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
    <script type="text/javascript" src="/js/elevator.js"></script>
    <script type="text/javascript" src="/js/interfaces.js"></script>
    <script type="text/javascript" src="/js/world.js"></script>
    <script type="text/javascript" src="/js/presenters.js"></script>
    <script type="text/javascript" src="/js/challenges.js"></script>
    <script type="text/javascript" src="/js/fitness.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/template" id="user-template">
        <i class="movable fa user fa-{u.displayType} {state}"></i>
    </script>

    <script type="text/template" id="floor-template">
        <div class="floor" style="top: {yPosition}px">
            <span class="floornumber">{level}</span>
            <span class="buttonindicator">
                <i class="fa fa-arrow-circle-up up"></i>
                <i class="fa fa-arrow-circle-down down"></i>
            </span>
        </div>
    </script>

    <script type="text/template" id="elevator-template">
        <div class="elevator movable" style="width: {e.width}px">
            <span class="directionindicator directionindicatorup"><i class="fa fa-arrow-circle-up up activated"></i></span>
            <span class="floorindicator"><span></span></span>
            <span class="directionindicator directionindicatordown"><i class="fa fa-arrow-circle-down down activated"></i></span>
            <span class="buttonindicator"></span>
        </div>
    </script>

    <script type="text/template" id="elevatorbutton-template">
        <span class="buttonpress">{floorNum}</span>
    </script>

    <script type="text/template" id="feedback-template">
        <div class="feedback">
            <h2 class="emphasis-color">{title}</h2>
            <p class="emphasis-color">{message}</p>
            <a href="{url}" class="emphasis-color">Next challenge <i class="fa fa-caret-right blink" style="text-decoration: blink"></i></a>
        </div>
    </script>

    <script type="text/template" id="challenge-template">
        <div class="left">
            <h3>Challenge #{num}: {challenge.condition.description}</h3>
        </div>
        <button class="right startstop unselectable" style="width: 110px">{startButtonText}</button>
        <h3 class="right">
            <i class="fa fa-minus-square timescale_decrease unselectable"></i>
            <span class="emphasis-color" style="display: inline-block; width: 22px; text-align: center">{timeScale}</span>
            <i class="fa fa-plus-square timescale_increase unselectable"></i>
        </h3>
    </script>
</head>
<body>
    @RenderBody()

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
