@model ElevatorSharp.Web.ViewModels.ElevatorIndexViewModel
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="/img/leeds-sharp-logo.png" />
            </div>
            <div class="col-md-10 maze-form">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="elevators">Elevators</label>
                        <input type="text" class="form-control" id="elevators" placeholder="Elevators">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="floors">Floors</label>
                        <input type="text" class="form-control" id="floors" placeholder="Floors">
                    </div>
                    <button type="button" id="build" class="btn btn-success">Build</button>
                    <button type="button" id="demolish" class="btn btn-danger">Demolish</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2>@Model.Player</h2>
            <form action="/home/uploadPlayer" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="btn btn-success btn-file btn-block">
                        Select Player <input id="player" type="file" name="dll" size="10" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="upload-player" class="btn btn-success btn-block">Upload Player</button>
                </div>
                <div class="form-group">
                    <button type="button" id="solve-maze" class="btn btn-success btn-block">Solve</button>
                </div>
                <div class="form-group">
                    <button type="button" id="solve-stop" class="btn btn-danger btn-block">Stop</button>
                </div>
            </form>
            <div class="message">@Model.Message</div>
            <div id="countdown" class="pull-left"></div>
            <div id="visited-counter" class="pull-right">
                <div class="visited-number">
                    Efficiency: <span id="algorithm-efficiency">1</span>
                    Efficiency: <span id="visited-number">1</span>/<span id="total-moves">1</span>
                </div>
            </div>
        </div>
        <div class="col-md-9 world">
            <div class="feedbackcontainer"></div>
            <div class="innerworld">
            </div>
            <div class="statscontainer">
                <div style="top: 20px"><span class="key">Transported</span><span class="value transportedcounter"></span></div>
                <div style="top: 40px"><span class="key">Elapsed time</span><span class="value elapsedtime"></span></div>
                <div style="top: 60px"><span class="key">Transported/s</span><span class="value transportedpersec"></span></div>
                <div style="top: 80px"><span class="key">Avg waiting time</span><span class="value avgwaittime"></span></div>
                <div style="top: 100px"><span class="key">Max waiting time</span><span class="value maxwaittime"></span></div>
                <div style="top: 120px"><span class="key" title="Number of floors that have been travelled by elevators">Moves</span><span class="value movecount"></span></div>
            </div>
        </div>
    </div>
</div>