@model ElevatorSharp.Web.ViewModels.SkyscraperIndexViewModel
<div class="container">
    <div class="header">
        <h1 class="left">Elevator Sharp <em class="emphasis-color">The elevator programming game ported to .NET</em></h1>
    </div>

    <noscript>
        <h2>Your browser does not appear to support JavaScript. This page contains a browser-based programming game implemented in JavaScript.</h2>
    </noscript>

    <div class="challenge" style="height: 40px">
    </div>

    <div class="world">
        <div class="feedbackcontainer"></div>
        <div class="innerworld">
        </div>
        <div class="statscontainer">
            <div style="top: 20px"><span class="key">Transported</span><span class="value transportedcounter"></span></div>
            <div style="top: 40px"><span class="key">Elapsed time</span><span class="value elapsedtime"></span></div>
            <div style="top: 60px"><span class="key">Transported/s</span><span class="value transportedpersec"></span></div>
            <div style="top: 80px"><span class="key">Avg waiting time</span><span class="value avgwaittime"></span></div>
            <div style="top: 100px"><span class="key">Max waiting time</span><span class="value maxwaittime"></span></div>
            <div style="top: 120px"><span class="key" title="Number of floors that have been travelled by elevators">Moves</span><span class="value movecount"></span></div>
        </div>
    </div>
    <div class="codestatus"></div>
    <div class="code" style="display: none;">
        <textarea name="Code" id="code"></textarea>
    </div>
    <form action="@Url.Action("UploadPlayerAsCode")" method="post">
        <button type="submit" name="submit" style="float: left">Upload Code</button>
        @ViewBag.Message
        
        <div class="codestatus"></div>
        <div class="code">
            <textarea name="Source" id="source"></textarea>
        </div>
    </form>
    <form action="@Url.Action("UploadPlayer")" method="post" enctype="multipart/form-data">
        <button type="submit" name="submit" style="float: left">Upload iPlayer DLL</button>
        <input type="file" name="dll" id="fileToUpload" style="float: left" />
        @ViewBag.Message
    </form>
    <span id="save_message" style="float: right"></span>
    <span id="fitness_message" style="float: right"></span>
    <div style="clear: both;"></div>
    <div class="footer">
        <h4>Based on the excellent <a href="http://play.elevatorsaga.com/">Elevator Saga</a> game by Magnus Wolffelt and contributors</h4>
        <h4>Ported to .NET by <a href="http://www.leeds-sharp.org/">Leeds Sharp</a></h4>
        <h4><a href="https://github.com/LeedsSharp/ElevatorSharp">Source code</a> on GitHub</h4>
    </div>
</div>